<div id="Product"
     data-Productname='{{ page.product.extensions.ncp_configurator.ProductName }}'
     data-id='{{ page.product.id }}'
     data-price='{{ page.product.calculatedPrice.unitPrice }}'>
    {#    ProductName: {{ page.product.extensions.ncp_configurator.ProductName }} #}
</div>
