<div id="ProjectGroup"
     data-name='{{ page.product.extensions.ncp_configurator.ProjectGroupsame }}'>
    {# data-info='{{ page.product.extensions.ncp_configurator.arrPriceFactorsArea|json_encode }}'> #}
    {# ProjectGroupsame: {{ page.product.extensions.ncp_configurator.ProjectGroupsame }} #}
</div>
