/src/bin/
/src/config/
/src/files/
/src/public/
/src/src/
/src/var/
/src/vendor/
/src/.env
/src/composer.json
/src/composer.lock
/src/Dockerfile
/src/easy-coding-standard.php
/src/index.html
/src/install.lock
/src/license.txt
/src/phpstan.neon
/src/phpunit.xml.dist
/src/PLATFORM_COMMIT_SHA
/src/psalm.xml
/src/README.md
/src/custom/plugins/SwagPlatformDemoData/
/src/custom/plugins/DockwareSamplePlugin/
/src/custom/plugins/BognerTheme/
/.idea/
